<h1>Catalogue</h1>

<br />

<% @products.each do |product| %>

<div class="container">
  <div class="card card-outline-secondary">
      <div class="card-img-top">
        <%= image_tag product.image, style: 'width: 100px' %>
      </div>
      <div class="card-block">
        <h4 class="card-title"><%= product.name %></h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <%= link_to "View", catalogue_product_path(product.catalogue_id, product), class: "btn btn-primary" %>
      </div>
  </div>
</div>

<% end %>
