@import "bootstrap-sprockets";
@import "bootstrap";


body {
 background: #333333;
 color: #fff;
}

.form-group {
 color: #000;
}

label {
  color: #fff;
}

.navbar-brand {
  color: #fff;
}

.search-bar {
  display: inline-block;
}

.card {
  display: flex;
}

.card-img-top {
  padding: 10px;
  margin: 10px;
}

.card-block {
  padding: 10px;
}

.price {
  font-size: 16px;
  display: inline-block;
  margin-left: 400px;
  text-align-last: right;
}

.search-bar {
  display: flex-end;
}
